<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

  <menu opened="true" id="application"
      title="msg://com.edwardjones.cf23.sidekick/menu.application.title">
    <item view="cf23_SituationAlertMenu.list"
        title="msg://com.edwardjones.cf23.sidekick.view.situationalert/situationAlertMenu.title"
        icon="ALARM"/>
    <menu id="maintenance-menu"
        description="msg://com.edwardjones.cf23.sidekick/menu_config.maintenance-menu.description"
        title="msg://com.edwardjones.cf23.sidekick/menu_config.maintenance-menu.title">
      <item view="cf23_SituationAlert.list"
          title="msg://com.edwardjones.cf23.sidekick.view.situationalert/situationAlertListView.title"/>
      <item view="cf23_Portfolio.list"
          title="msg://com.edwardjones.cf23.sidekick.view.portfolio/portfolioListView.title"/>
      <item view="cf23_Product.list"
          title="msg://com.edwardjones.cf23.sidekick.view.product/productListView.title"/>
      <item view="cf23_Participant.list"
          title="msg://com.edwardjones.cf23.sidekick.view.participant/participantListView.title"/>
      <item view="cf23_Team.list"
          title="msg://com.edwardjones.cf23.sidekick.view.team/teamListView.title"/>
      <item view="cf23_User.list"
          title="msg://com.edwardjones.cf23.sidekick.view.user/UserListView.title"/>
    </menu>
  </menu>
</menu-config>