/* Define your styles here */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  --lumo-font-family: 'Quicksand', sans-serif;

  --lumo-body-text-color: #253858;
  --lumo-primary-text-color: hsl(218, 41%, 25%);
  font-weight: bolder;
}

.headline {
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0;
}

.center-text {
  text-align: center;
}